src/main/resources/org/_3rivers_ashtanga/_2013/wos_ebird_summary/wos-ebird-summary-parameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://3rivers-ashtanga.org/2013/wos-ebird-summary/input-parameters"
	xmlns:tns="http://3rivers-ashtanga.org/2013/wos-ebird-summary/input-parameters"
	elementFormDefault="qualified">
	<element
		name="parameters"
		type="tns:parameters-type" />
	<complexType name="parameters-type">
		<sequence>
			<element ref="tns:workbook-source" />
			<element ref="tns:ebird-taxonomy-workbook"/>
			<element ref="tns:ebird-data-workbook" />
			<element ref="tns:ebird-compilation-root-dir" />
			<element ref="tns:summary-output" />
			<element ref="tns:other-species-output">
				<annotation>
					<documentation>If we run into unexpected species we need to write
						them somewhere.
					</documentation>
				</annotation>
			</element>
			<element
				ref="tns:alias-db"
				minOccurs="0" />
		</sequence>
	</complexType>
	<element
		name="workbook-source"
		type="anyURI" />
	<element
		name="ebird-data-workbook"
		type="anyURI" />
	<element
		name="summary-output"
		type="anyURI" />
	<element
		name="other-species-output"
		type="anyURI" />
	<element
		name="ebird-compilation-root-dir"
		type="anyURI" />
			<element
		name="ebird-taxonomy-workbook"
		type="anyURI">
		<annotation><documentation>Tried loading this as reources, but
		didn't work.</documentation></annotation>
		</element>
		
	<element
		name="alias-db"
		type="anyURI" />
</schema>